@font-face {
    font-family: 'Poppins';
    src: url('../../public/static/fonts/Poppins/Poppins-Regular.ttf');
    src: local('Poppins'),
        url('../../public/static/fonts/Poppins/Poppins-Regular.ttf'),
        format('truetype');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: 'Poppins';
    src: url('../../public/static/fonts/Poppins/Poppins-Medium.ttf');
    src: local('Poppins'),
        url('../../public/static/fonts/Poppins/Poppins-Medium.ttf'),
        format('truetype');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: 'Poppins';
    src: url('../../public/static/fonts/Poppins/Poppins-Bold.ttf');
    src: local('Poppins'),
        url('../../public/static/fonts/Poppins/Poppins-Bold.ttf'),
        format('truetype');
    font-display: swap;
}
