@font-face {
  font-family: "Poppins";
  src: url("../../public/static/fonts/Poppins/Poppins-Regular.ttf");
  src: local("Poppins"),
  url("../../public/static/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/static/fonts/Poppins/Poppins-Medium.ttf");
  src: local("Poppins"),
  url("../../public/static/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/static/fonts/Poppins/Poppins-Bold.ttf");
  src: local("Poppins"),
  url("../../public/static/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}