@use "../variables" as *;

html {
  font-size: 62.5%;
}

body {
  min-height: 200vh;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  color: map-get($colors, "dark");

  &:hover {
    color: map-get($colors, "dark");
    text-decoration: none;
  }
}

.container {
  max-width: 1250px;

  @include min(xxl) {
    padding: 0;
  }
}