@use '../variables' as *;

html {
    font-size: 62.5%;
}

body {
    min-height: 200vh;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    color: map-get($colors, 'dark');

    &:hover {
        color: map-get($colors, 'dark');
        text-decoration: none;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;

    @include min(xxl) {
        padding: 0;
    }
}
