@use '../../variables' as *;

.section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__title {
        margin-bottom: 3.2rem;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 77px;
        text-align: center;
    }

    &__description {
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 19px;
        text-align: center;
        text-align: center;

        @include min(xxl) {
            max-width: 61.4rem;
        }
    }
}
