@use '../../variables' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__title {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.7rem;
        text-align: center;
    }

    &__description {
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 2.3rem;
        text-align: center;
        text-align: center;

        @include min(xxl) {
            max-width: 614px;
        }
    }
}
