$breakpoints: (
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1024px,
    xxl: 1280px,
);

@mixin min($key) {
    $size: map-get($breakpoints, $key);
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin max($key) {
    $size: map-get($breakpoints, $key);
    @media only screen and (max-width: $size - 1px) {
        @content;
    }
}
